<svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
<path d="M11.1286 0.689584C14.9318 0.796146 17.9438 5.50346 17.8736 11.1918C17.8035 16.8809 14.6754 21.417 10.8714 21.3105C7.06751 21.2039 4.05626 16.4973 4.12638 10.8082C4.19651 5.11915 7.32395 0.583021 11.1286 0.689584ZM15.587 18.3845H12.9869L11.1753 21.1276C12.8755 21.0623 14.4251 20.0345 15.5877 18.3845H15.587ZM9.01451 18.3845H6.41232C7.58245 20.0455 9.14788 21.0801 10.8749 21.129L10.8247 21.1269L9.01313 18.3845H9.01451ZM11 17.1628L9.17882 18.3178L11.0007 21.0746L12.8212 18.3178L11 17.1628ZM15.6564 14.2086L13.8105 15.3801L13.0515 18.2023H15.6564V14.2086ZM6.34357 14.2086V18.203H8.94851L8.18951 15.3801L6.34357 14.2086ZM8.4047 15.5162L9.11282 18.1486L10.8323 17.0569L8.4047 15.5169V15.5162ZM13.5946 15.5162L11.1678 17.0562L12.8872 18.148L13.5946 15.5169V15.5162ZM4.29826 11.2475C4.33951 13.8738 5.04488 16.2573 6.17238 18.0256V14.0835L4.29757 11.2475H4.29826ZM17.7011 11.2475L15.8283 14.0828V18.0249C16.9599 16.2498 17.6694 13.8497 17.7024 11.1891L17.7011 11.2475ZM10.9993 5.02908L8.32495 6.69971L7.18095 10.9629L8.33595 15.2605L11 16.951L13.6641 15.2605L14.8191 10.9636L13.6758 6.69971L11 5.02908H10.9993ZM7.09157 11.295L6.36351 14.0092L8.12076 15.125L7.09157 11.2956V11.295ZM14.9084 11.2963L13.8793 15.1236L15.6365 14.0099L14.9078 11.2963H14.9084ZM6.22807 8.0809L4.31338 10.9526L6.22807 13.8511L7.00288 10.9636L6.22807 8.0809ZM15.7726 8.08158L14.9971 10.9643L15.7719 13.8511L17.6866 10.9526L15.7726 8.08158ZM15.8276 3.97446V7.8499L17.6997 10.6576C17.6433 8.0699 16.9414 5.7214 15.8276 3.97515V3.97446ZM6.1717 3.97446C5.04007 5.75027 4.33126 8.15033 4.29757 10.8116L4.30032 10.657L6.1717 7.8499V3.97515V3.97446ZM8.11045 6.83308L6.3642 7.92415L7.09157 10.6315L8.11045 6.83308ZM13.8889 6.83308L14.9078 10.6308L15.6358 7.92415L13.8896 6.83308H13.8889ZM8.92513 3.79708H6.34357V7.72615L8.1792 6.58008L8.92513 3.79708ZM15.6564 3.79708H13.0742L13.8208 6.58008L15.6564 7.72615V3.79708ZM9.09288 3.83833L8.39232 6.44602L10.8309 4.92321L9.09288 3.83833ZM12.9071 3.83833L11.1684 4.92252L13.607 6.44533L12.9071 3.83765V3.83833ZM11 0.924709L9.16713 3.67333L10.9993 4.81802L12.8329 3.67333L11 0.924709ZM11.176 0.873146L13.0048 3.6149H15.587C14.4169 1.95458 12.8514 0.919896 11.1244 0.871771L11.176 0.873146ZM10.8247 0.873146C9.1252 0.938459 7.57557 1.96627 6.41301 3.6149H8.99526L10.824 0.872459L10.8247 0.873146Z" fill="#5B5B5B" stroke="#5B5B5B" stroke-width="0.5"/>
</svg>



{%- if product.metafields.custom.ring_size -%}
  <div class="list-of-ring-size">
                  <label>Ring Size:<span class="error">
  <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
  <path d="M6.36064 0.109619C3.32281 0.109619 0.848145 2.58428 0.848145 5.62212C0.848145 8.65996 3.32281 11.1346 6.36064 11.1346C9.39848 11.1346 11.8731 8.65996 11.8731 5.62212C11.8731 2.58428 9.39848 0.109619 6.36064 0.109619ZM6.36064 0.957696C8.94132 0.957696 11.0251 3.04145 11.0251 5.62212C11.0251 8.20279 8.94132 10.2865 6.36064 10.2865C3.77997 10.2865 1.69622 8.20279 1.69622 5.62212C1.69622 3.04145 3.77997 0.957696 6.36064 0.957696ZM5.93661 2.65385V3.50193H6.78468V2.65385H5.93661ZM5.93661 4.35V8.59039H6.78468V4.35H5.93661Z" fill="#C7937D"/>
  </svg>
  Please select your ring size</span></label>
  
                  <select id="ring-size-selector" name="ring-options"  class="ring-size-selector ring-size" >
                      <option value="">Select Size</option>
                      <option value="3" >3</option>
                      <option value="3.25" >3.25</option>
                      <option value="3.5" >3.5</option>
                      <option value="3.75" >3.75</option>
                      <option value="4" >4</option>
                      <option value="4.25" >4.25</option>
                      <option value="4.5" >4.5</option>
                      <option value="4.75" >4.75</option>
                      <option value="5" >5</option>
                      <option value="5.25" >5.25</option>
                      <option value="5.5" >5.5</option>
                      <option value="5.75" >5.75</option>
                      <option value="6" >6</option>
                      <option value="6.25" >6.25</option>
                      <option value="6.5" >6.5</option>
                      <option value="6.75" >6.75</option>
                      <option value="7" >7</option>
                      <option value="7.25" >7.25</option>
                      <option value="7.5" >7.5</option>
                      <option value="7.75" >7.75</option>                    
                      <option value="8" >8</option>
                      <option value="8.25" >8.25</option>
                      <option value="8.5" >8.5</option>
                      <option value="8.75" >8.75</option>
                      <option value="9" >9</option>
                      <option value="9.25" >9.25</option>
                      <option value="9.5" >9.5</option>
                      <option value="9.75" >9.75</option>
                      <option value="10" >10</option>
                  </select>
  
  </div>
  {% endif %}
  {%- if product.metafields.custom.ring_size_ladies -%}
  <div class="list-of-ring-size">
                  <label>Ring Size:<span class="error">
  <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
  <path d="M6.36064 0.109619C3.32281 0.109619 0.848145 2.58428 0.848145 5.62212C0.848145 8.65996 3.32281 11.1346 6.36064 11.1346C9.39848 11.1346 11.8731 8.65996 11.8731 5.62212C11.8731 2.58428 9.39848 0.109619 6.36064 0.109619ZM6.36064 0.957696C8.94132 0.957696 11.0251 3.04145 11.0251 5.62212C11.0251 8.20279 8.94132 10.2865 6.36064 10.2865C3.77997 10.2865 1.69622 8.20279 1.69622 5.62212C1.69622 3.04145 3.77997 0.957696 6.36064 0.957696ZM5.93661 2.65385V3.50193H6.78468V2.65385H5.93661ZM5.93661 4.35V8.59039H6.78468V4.35H5.93661Z" fill="#C7937D"/>
  </svg>
  Please select your ring size</span></label>
                  <select name="ring-options"  class="ring-size-selector ring-size" >
                      <option value="">Select Size</option>
                      <option value="3" >3</option>
                      <option value="3.25" >3.25</option>
                      <option value="3.5" >3.5</option>
                      <option value="3.75" >3.75</option>
                      <option value="4" >4</option>
                      <option value="4.25" >4.25</option>
                      <option value="4.5" >4.5</option>
                      <option value="4.75" >4.75</option>
                      <option value="5" >5</option>
                      <option value="5.25" >5.25</option>
                      <option value="5.5" >5.5</option>
                      <option value="5.75" >5.75</option>
                      <option value="6" >6</option>
                      <option value="6.25" >6.25</option>
                      <option value="6.5" >6.5</option>
                      <option value="6.75" >6.75</option>
                      <option value="7" >7</option>
                      <option value="7.25" >7.25</option>
                      <option value="7.5" >7.5</option>
                      <option value="7.75" >7.75</option>
                      <option value="8" >8</option>                    
                  </select>
  
  </div>
  {% endif %}